# Import Statements

In [101]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
plt.rcParams['figure.figsize'] = [14.0, 10.0]
import folium

# Loading The Dataset

In [102]:
df = pd.read_csv('UsedCars_Combined.csv')

# Dataset Description

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1725 entries, 0 to 1724
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Id                       1725 non-null   int64
 1   year                     1725 non-null   int64
 2   brand                    1725 non-null   object
 3   full_model_name          1725 non-null   object
 4   model_name               1725 non-null   object
 5   price                    1725 non-null   float64
 6   distance_travelled(kms)  1725 non-null   float64
 7   fuel_type                1725 non-null   object
 8   city                     1725 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 121.4+ KB

In [104]:
df.describe()

                Id         year         price  distance_travelled(kms)
count  1725.000000  1725.000000  1.725000e+03              1725.000000
mean    862.000000  2015.390725  1.494837e+06             53848.256232
std     498.108924     3.207504  1.671658e+06             44725.541963
min       0.000000  1990.000000  6.250000e+04               350.000000
25%     431.000000  2013.000000  5.450000e+05             29000.000000
50%     862.000000  2016.000000  8.750000e+05             49000.000000
75%    1293.000000  2018.000000  1.825000e+06             70500.000000
max    1724.000000  2021.000000  1.470000e+07            790000.000000

In [105]:
df.head(5)

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai

# Getting Unique Values For Columns

In [106]:
df['brand'].unique()

array(['Honda', 'Nissan', 'Toyota', 'Mercedes-Benz', 'Hyundai',
       'Maruti Suzuki', 'Renault', 'Volkswagen', 'Skoda', 'BMW', 'Tata',
       'Audi', 'Bentley', 'Ford', 'Mahindra', 'Jaguar', 'Lamborghini',
       'MINI', 'Land Rover', 'Chevrolet', 'Datsun', 'Jeep', 'Porsche',
       'Volvo', 'MG', 'Lexus', 'Mitsubishi', 'Kia', 'Fiat', 'Isuzu',
       'Mahindra-Renault'], dtype=object)

In [107]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'Petrol + 1', 'CNG + 1', 'Hybrid'],
      dtype=object)

# Brand Ranking

In [108]:
temp_rank = [7,11,1,2,14,32,15,3,27,4,40,10,44,8,24,40,45,39,18,12,50,19,5,9,81,16,46,20,43,37,24]

In [109]:
len(temp_rank)

31

In [110]:
len(df['brand'].unique())

31

In [111]:
rankings = {}
j=0
for i in df['brand'].unique():
    rankings[i] = int(temp_rank[j])
    j+=1

# Adding Brand Rank To Dataset

In [112]:
temp_rank = []

In [113]:
for i in df['brand']:
    temp_rank.append(rankings[i])

In [114]:
len(temp_rank)

1725

In [115]:
df['brand_rank'] = temp_rank

In [116]:
df.head()

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai,7
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai,11
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,1
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai,2
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,14

# Calculating Car Age

In [117]:
current_year = 2021

In [118]:
age = []

In [119]:
for i in df['year']:
    age.append(current_year-float(i))

# Adding Age To Dataset

In [120]:
df['car_age'] = age

In [121]:
df.head()

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank,car_age
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai,7,5.0
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai,11,9.0
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,1,4.0
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai,2,4.0
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,14,9.0

# Car Distance Travelled Exploration

In [122]:
fig = px.box(x = df['distance_travelled(kms)'])
fig.show()

In [123]:
# According to sources cars clocking below 30k kms is a good car

In [124]:
thresh_kms = 30000

In [125]:
temp = []

In [126]:
for i in df['distance_travelled(kms)']:
    if(i<=thresh_kms):
        temp.append(int(1))
    else:
        temp.append(int(0))

In [127]:
df['distance below 30k km'] = temp

In [128]:
df.head()

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank,car_age,distance below 30k km
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai,7,5.0,1
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai,11,9.0,0
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,1,4.0,0
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai,2,4.0,1
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,14,9.0,1

# Getting New And Less Used Cars

In [129]:
temp = []

In [130]:
for i in range(0,1725,1):
    if((df['car_age'][i]<=4) and (df['distance below 30k km'][i] == 1)):
        temp.append(int(1))
    else:
        temp.append(int(0))

In [131]:
df['new and less used'] = temp

In [132]:
df.head()

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank,car_age,distance below 30k km,new and less used
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai,7,5.0,1,0
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai,11,9.0,0,0
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,1,4.0,0,0
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai,2,4.0,1,1
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,14,9.0,1,0

# Inverting price, distance, car_age and brand

In [133]:
df['inv_car_price'] = 1/df['price']
df['inv_car_dist'] = 1/df['distance_travelled(kms)']
df['inv_car_age'] = 1/df['car_age']
df['inv_brand'] = 1/df['brand_rank']

In [134]:
df.head()

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank,car_age,distance below 30k km,new and less used,inv_car_price,inv_car_dist,inv_car_age,inv_brand
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai,7,5.0,1,0,2.352941e-06,0.000103,0.200000,0.142857
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai,11,9.0,0,0,3.076923e-06,0.000008,0.111111,0.090909
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,1,4.0,0,0,3.773585e-07,0.000015,0.250000,1.000000
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai,2,4.0,1,1,2.383790e-07,0.000040,0.250000,0.500000
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,14,9.0,1,0,2.105263e-06,0.000042,0.111111,0.071429

# Standardising inv_price and inv_dist

In [135]:
max_price = df['inv_car_price'].max()
min_price = df['inv_car_price'].min()
price_range = max_price - min_price

In [136]:
temp = []

In [137]:
for i in df['inv_car_price']:
    temp.append((i-min_price)/price_range)

In [138]:
df['std_invprice'] = temp

In [139]:
max_dist = df['inv_car_dist'].max()
min_dist = df['inv_car_dist'].min()
dist_range = max_dist - min_dist

In [140]:
temp = []

In [141]:
for i in df['inv_car_dist']:
    temp.append((i-min_dist)/dist_range)

In [142]:
df['std_invdistance_travelled'] = temp

# Standardising car_ranks

In [143]:
temp = []

In [144]:
max_br = df['inv_brand'].max()
min_br = df['inv_brand'].min()
br_range = max_br-min_br

In [145]:
for i in df['inv_brand']:
    temp.append((i-min_br)/br_range)

In [146]:
df['std_invrank'] = temp

# Reviewing New Features In Dataset

In [147]:
df.head(10)

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank,car_age,distance below 30k km,new and less used,inv_car_price,inv_car_dist,inv_car_age,inv_brand,std_invprice,std_invdistance_travelled,std_invrank
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai,7,5.0,1,0,2.352941e-06,0.000103,0.200000,0.142857,0.143417,0.035730,0.132143
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai,11,9.0,0,0,3.076923e-06,0.000008,0.111111,0.090909,0.188859,0.002496,0.079545
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,1,4.0,0,0,3.773585e-07,0.000015,0.250000,1.000000,0.019416,0.004978,1.000000
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai,2,4.0,1,1,2.383790e-07,0.000040,0.250000,0.500000,0.010692,0.013563,0.493750
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,14,9.0,1,0,2.105263e-06,0.000042,0.111111,0.071429,0.127871,0.014269,0.059821
5,5,2012,Hyundai,Hyundai i20 Sportz 1.2 BS-IV,i20,335000.0,45000.0,Petrol,Mumbai,14,9.0,0,0,2.985075e-06,0.000022,0.111111,0.071429,0.183094,0.007338,0.059821
6,6,2019,Toyota,Toyota Glanza V,Glanza,750000.0,19500.0,Petrol,Mumbai,1,2.0,1,1,1.333333e-06,0.000051,0.500000,1.000000,0.079419,0.017513,1.000000
7,7,2018,Mercedes-Benz,Mercedes-Benz GLE 250 d,GLE,5500000.0,32000.0,Diesel,Mumbai,2,3.0,0,0,1.818182e-07,0.000031,0.333333,0.500000,0.007142,0.010499,0.493750
8,8,2017,Hyundai,Hyundai Grand i10 Sportz (O) AT 1.2 Kappa VTVT...,Grand,565000.0,44329.0,Petrol,Mumbai,14,4.0,0,0,1.769912e-06,0.000023,0.250000,0.071429,0.106822,0.007456,0.059821
9,9,2015,Maruti Suzuki,Maruti Suzuki Swift Dzire ZXI,Swift,510000.0,48286.0,Petrol,Mumbai,32,6.0,0,0,1.960784e-06,0.000021,0.166667,0.031250,0.118802,0.006808,0.019141

# Best Buy



    Best buy will be defined by std_price * std_distance_travelled * std_rank *100000
    
    It will get their product and the car with the lowest will be  good buy  =  best_buy1
    
    To further differntiate the data, the cars having newandlessused 1 will be segregated   =   best_buy2

In [148]:
df['best_buy1'] = df['std_invprice'] * df['std_invrank'] *df['std_invdistance_travelled']*1000000

In [149]:
df.head()

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank,...,distance below 30k km,new and less used,inv_car_price,inv_car_dist,inv_car_age,inv_brand,std_invprice,std_invdistance_travelled,std_invrank,best_buy1
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai,7,...,1,0,2.352941e-06,0.000103,0.200000,0.142857,0.143417,0.035730,0.132143,677.134239
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai,11,...,0,0,3.076923e-06,0.000008,0.111111,0.090909,0.188859,0.002496,0.079545,37.501318
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,1,...,0,0,3.773585e-07,0.000015,0.250000,1.000000,0.019416,0.004978,1.000000,96.646020
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai,2,...,1,1,2.383790e-07,0.000040,0.250000,0.500000,0.010692,0.013563,0.493750,71.604306
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,14,...,1,0,2.105263e-06,0.000042,0.111111,0.071429,0.127871,0.014269,0.059821,109.150857


    for best_buy1 the values higher the better is the value for money in regards to price, distance and rank

In [150]:
df[df['best_buy1'] == 0]

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank,...,distance below 30k km,new and less used,inv_car_price,inv_car_dist,inv_car_age,inv_brand,std_invprice,std_invdistance_travelled,std_invrank,best_buy1
257,257,2015,Toyota,Toyota Innova 2.5 G BS IV 7 STR,Innova,925000.0,790000.0,Diesel,Delhi,1,...,0,0,1.081081e-06,0.000001,0.166667,1.000000,0.063586,0.000000,1.00000,0.0
317,317,2020,MG,MG Hector Plus Sharp 1.5 DCT Petrol,Hector,1950000.0,4500.0,Petrol,Delhi,81,...,1,1,5.128205e-07,0.000222,1.000000,0.012346,0.027918,0.077369,0.00000,0.0
376,376,2018,Land Rover,Land Rover Range Rover 3.0 V6 Diesel Vogue,3.0,14700000.0,25000.0,Diesel,Delhi,18,...,1,1,6.802721e-08,0.000040,0.333333,0.055556,0.000000,0.013563,0.04375,0.0
436,436,2019,MG,MG Hector Sharp 1.5 DCT Petrol [2019-2020],Hector,1640000.0,24000.0,Petrol,Delhi,81,...,1,1,6.097561e-07,0.000042,0.500000,0.012346,0.034003,0.014147,0.00000,0.0
464,464,2020,MG,MG Hector Sharp 1.5 DCT Petrol [2019-2020],Hector,1825000.0,45000.0,Petrol,Delhi,81,...,0,0,5.479452e-07,0.000022,1.000000,0.012346,0.030123,0.007338,0.00000,0.0
531,531,2021,MG,MG Hector Sharp 2.0 Diesel [2019-2020],Hector,2150000.0,10860.0,Diesel,Bangalore,81,...,1,1,4.651163e-07,0.000092,inf,0.012346,0.024924,0.031799,0.00000,0.0
585,585,2020,MG,MG Hector Sharp 1.5 DCT Petrol [2019-2020],Hector,1890000.0,5697.0,Petrol,Bangalore,81,...,1,1,5.291005e-07,0.000176,1.000000,0.012346,0.028940,0.061020,0.00000,0.0
637,637,2019,MG,MG Hector Sharp 1.5 DCT Petrol [2019-2020],Hector,1795000.0,39000.0,Petrol,Bangalore,81,...,0,0,5.571031e-07,0.000026,0.500000,0.012346,0.030698,0.008535,0.00000,0.0
638,638,2021,MG,MG Hector Super Hybrid 1.5 Petrol [2019-2020],Hector,2100000.0,3000.0,Hybrid,Bangalore,81,...,1,1,4.761905e-07,0.000333,inf,0.012346,0.025619,0.116275,0.00000,0.0
765,765,2020,MG,MG Hector Plus Sharp 1.5 DCT Petrol,Hector,2100000.0,16023.0,Petrol,Hyderabad,81,...,1,1,4.761905e-07,0.000062,1.000000,0.012346,0.025619,0.021410,0.00000,0.0
1551,1551,2020,MG,MG Hector Plus Sharp 1.5 DCT Petrol,Hector,1800000.0,17500.0,Petrol,Pune,81,...,1,1,5.555556e-07,0.000057,1.000000,0.012346,0.030601,0.019566,0.00000,0.0
1562,1562,2019,MG,MG Hector Sharp 1.5 DCT Petrol [2019-2020],Hector,1825000.0,32000.0,Petrol,Pune,81,...,0,0,5.479452e-07,0.000031,0.500000,0.012346,0.030123,0.010499,0.00000,0.0

In [151]:
df['best_buy2'] = df['best_buy1'] * df['new and less used']

In [152]:
df.head()

,Id,year,brand,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,brand_rank,...,new and less used,inv_car_price,inv_car_dist,inv_car_age,inv_brand,std_invprice,std_invdistance_travelled,std_invrank,best_buy1,best_buy2
0,0,2016,Honda,Honda Brio S MT,Brio,425000.0,9680.0,Petrol,Mumbai,7,...,0,2.352941e-06,0.000103,0.200000,0.142857,0.143417,0.035730,0.132143,677.134239,0.000000
1,1,2012,Nissan,Nissan Sunny XV Diesel,Sunny,325000.0,119120.0,Diesel,Mumbai,11,...,0,3.076923e-06,0.000008,0.111111,0.090909,0.188859,0.002496,0.079545,37.501318,0.000000
2,2,2017,Toyota,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,1,...,0,3.773585e-07,0.000015,0.250000,1.000000,0.019416,0.004978,1.000000,96.646020,0.000000
3,3,2017,Mercedes-Benz,Mercedes-Benz E-Class E 220d Expression [2019-...,E-Class,4195000.0,25000.0,Diesel,Mumbai,2,...,1,2.383790e-07,0.000040,0.250000,0.500000,0.010692,0.013563,0.493750,71.604306,71.604306
4,4,2012,Hyundai,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,14,...,0,2.105263e-06,0.000042,0.111111,0.071429,0.127871,0.014269,0.059821,109.150857,0.000000

    
    higher the value of best_buy2 better is the value for money as well as the
    less used and newly made cars

In [153]:
df_temp = df.sort_values(by = ['best_buy2'], ascending=False)

In [155]:
df_temp = df_temp[0:10]

In [157]:
df_temp['name'] = df['brand']+" "+df['model_name']

In [161]:
fig = px.histogram(x = df_temp['name'], y=df_temp['best_buy2'])
fig.show()